In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd # a data processing and CSV I/O library

In [5]:
data = pd.read_csv("/content/2021-08-25_12_10.csv")
data.head(10)

                         time  temperature   pressure  ...  green  blue  alpha
0  2021-08-25 12:10:41.729037        23.81  101094.70  ...     12    12     37
1  2021-08-25 12:10:42.109144        23.81  101097.97  ...     12    12     37
2  2021-08-25 12:10:42.588390        23.81  101095.81  ...     12    12     38
3  2021-08-25 12:10:43.069200        23.81  101096.88  ...     12    12     38
4  2021-08-25 12:10:43.549307        23.81  101092.95  ...     12    12     38
5  2021-08-25 12:10:44.028387        23.82  101093.55  ...     12    12     38
6  2021-08-25 12:10:44.508350        23.82  101095.89  ...     12    12     38
7  2021-08-25 12:10:44.988270        23.82  101095.39  ...     12    12     38
8  2021-08-25 12:10:45.469573        23.81  101094.86  ...     12    12     38
9  2021-08-25 12:10:45.949573        23.81  101096.03  ...     12    12     38

[10 rows x 16 columns]